################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Swifter.Test.AspNetCore3_0/obj
/Swifter.Test.AspNetCore/obj
/Swifter.MessagePack/obj
/Swifter.Json/obj
/Swifter.Extensions.AspNetCore/obj
/Swifter.Core/obj
/.vs
/ConsoleApp1/obj
