################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Swifter.Test.AspNetCore3_0/obj
